@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Authentication.Cookies;

@{

    string? UserName = User.FindFirst("Nom")?.Value;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="col-md-3 d-flex text-end">
        @UserName <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
}
else
{
    <div class="col-md-3 d-flex text-end mx-2">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </div>
}
