@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Authentication.Cookies;
@inject IViewLocalizer Localizer

@{

    string? UserName = User.FindFirst("Nom")?.Value;
}

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @UserName
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

        <li>
            <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Logout"> @Localizer["Deconnexion"]</a>
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="Login"> @Localizer["Connexion"] </a>
        </li>
    </ul>

}
